@{
    ViewData["Title"] = "Mission And Vision";
}
<h1>@ViewData["Title"]</h1>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>Mission</b></span></h2>
        <p class="lead">
            To provide the highest quality service to our customers by continuously increasing cost efficiency and maintaining delivery deadlines. To encourage our workforce to continuously strive for quality and excellence in everything they do. To promote team work and create work environment that encourages talent and brings out the best in our employees.
</p>
    </div>
    <div class="col-md-5">
        <img src="~/img/mv.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></>

    </div>
</div>

<div>
    <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted"><b>Vision</b></span></h2>
    <p>
        To become the Premier Company that cuts across various segments and emerges as the torchbearer of each segment that it ventures into.
    </p>
</div>